// Menu-related.
$default: 1em;
$menu-font-size: 1.1em;
$page-title: 2em;

// Fonts.
$bold: bold;
$light: 400;
$lighter: 300;

@mixin button-appearence {
  padding: 0.75em 1.25em;
  display: inline-block;
  text-decoration: none;
  @include border-radius(50px);
  @include transition(all 0.3s ease-in);
}
