// Menu-related.
$default: 1em;
$menu-font-size: 1.1em;
$page-title: 2em;

// Fonts.
$bold: bold;
$light: 400;
$lighter: 300;

// Breakpoints.
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-lg-min: 1200px;
