@mixin block-title {
  text-align: center;
  font-weight: $bold;
}

@mixin box-shadow {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 $shadow;
}

@mixin button-appearence {
  padding: 0.75em 1.25em;
  display: inline-block;
  text-decoration: none;
  @include border-radius(50px);
  @include transition(all 0.3s ease-in);
}

@mixin flex-one-column {
  flex: 0 0 100%;
  max-width: 100%;
}

@mixin flex-two-columns {
  flex: 0 0 50%;
  max-width: 50%;
}

@mixin flex-three-columns {
  flex: 0 0 33%;
  max-width: 33%;
}

@mixin pseudo-after-border($width) {
  content: "";
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  width: $width;
}
