// Menu-related.
$default: 1em;
$menu-font-size: 1.1em;
$block-font-size: 1.75em;
$page-title: 2em;

// Margins and paddings.
$space: 4em;

// Fonts.
$bold: bold;
$light: 400;
$lighter: 300;

// Colors.
$border: #D7D7D7;
$shadow: #DADCE0;

// Breakpoints.
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 1024px;
$screen-lg-min: 1200px;

// Image - max height.
$image-sm: 32px;
$image-md: 44px;
$image-lg: 58px;
