html, body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  text-align: justify;
}

body {
  display: flex;
  flex-direction: column;

  #toolbar-administration {
    text-align: left;
  }

  footer {
    bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25em;
}
