.block-region-content {
  > div {
    margin-top: $space;

    &:first-child {
      margin-top: 0;
    }
  }

  .block-views-blockproducts-highlighted {
    h2 {
      @include block-title;
      margin: 0 0 1em;
    }

    div {
      .view-data {
        display: block;
        width: 100%;

        .view-content {
          display: block;
          flex: none;

          .grd-list {
            .views-row {
              margin: 0;
              padding: 1em 0;
              @include flex-one-column;

              @include md {
                padding: 0;
              }

              @include lg {
                @include flex-three-columns;
                padding: 0;
              }

              @include xl {
                @include flex-three-columns;
                padding: 0;
              }

              &:first-child {
                padding-top: 0;
              }

              .product__image {
                margin-bottom: 2em;

                img {
                  height: auto;
                  width: auto;

                  @include lg {
                    width: 100%;
                  }

                  @include xl {
                    width: 100%;
                    max-width: 500px;
                  }
                }
              }

              .product__info {
                .product__item--body {
                  margin: 0 3em;

                  p {
                    font-weight: $lighter;
                  }
                }

                .product__item--variation-price {
                  font-weight: $light;
                }
              }
            }
          }
        }
      }
    }
  }

  .block--type-basic {
    h2 {
      @include block-title;
      margin-top: 0;
    }

    .field--name-body {
      margin: 1.5em;

      p {
        text-align: center;
      }
    }
  }

  .block--type-banner {
    position: relative;

    &.full-width {
      width: 100vw;
      margin-left: calc(-50vw + 50% - -7px);
    }

    .block__content--image {
      img {
        width: 100%;
      }
    }

    .block__content--details {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h2 {
        @include block-title;
      }

      .field--name-body {
        margin: 1.5em;

        p {
          text-align: center;
        }
      }

      .field--name-field-block-banner-link {
        text-align: center;

        a {
          @include button-appearence;
        }
      }
    }
  }

  .block--type-text {
    text-align: center;
    margin-top: $space;

    .field--name-body {
      width: 65%;
      margin: 0 auto;
      font-weight: $lighter;
    }
  }

  .block--type-double-images {
    .block-content__content {
      display: block;

      @include lg {
        display: flex;
      }

      @include xl {
        display: flex;
      }

      .block-content__item {
        margin-bottom: 2em;
        @include flex-one-column;

        @include lg {
          margin-bottom: 0;
          @include flex-two-columns;
        }

        @include xl {
          margin-bottom: 0;
          @include flex-two-columns;
        }

        .field--type-image {
          text-align: center;

          img {
            height: auto;
            width: auto;

            @include xl {
              max-width: 500px;
            }
          }
        }

        .field--type-text-long {
          text-align: center;
          padding: 1em 2em 0;
        }
      }
    }

    .block-content__body {
      margin: 0 20%;
      font-weight: $lighter;
    }
  }
}
