.navigation {
  z-index: 100;
  height: auto;

  @include sm {
    height: 100%;
    width: 100%;
  }

  &.menu--main {
    margin: 0;
    top: 70px;

    .menu {
      .menu-item {
        a {
          padding-right: 0;
        }
      }
    }
  }

  &.menu--footer {
    display: flex;

    .footer-contact-us {
      display: list-item;
      flex: 0 0 50%;
      padding-right: 3em;
      list-style-type: none;

      .footer-contact-us__title {
        display: block;

        p {
          font-weight: $light;
          margin: 0 0 0.5em;

          &:after {
            @include pseudo-after-border(30%);
            padding-bottom: 0.5em;
          }
        }
      }

      .footer-contact-us__item {
        display: block;
        margin-bottom: 0.75em;

        i {
          display: inline;
        }

        p {
          display: inline;
          margin: 0.5em 0;
        }
      }
    }

    ul.menu-footer__list {
      display: flex;
      flex-wrap: wrap;
      text-align: left;

      li.menu-footer__item {
        @include flex-one-column;

        a.menu-footer__link {
          display: block;
        }
      }

      > li.menu-footer__item {
        > a.menu-footer__link:after {
          @include pseudo-after-border(3%);
        }
      }

      @include sm {
        @include flex-two-columns;

        > li.menu-footer__item {
          @include flex-two-columns;
        }
      }

      @include md {
        @include flex-two-columns;
        flex-wrap: nowrap;

        > li.menu-footer__item {
          @include flex-three-columns;
        }
      }

      @include lg {
        @include flex-two-columns;
        flex-wrap: nowrap;

        > li.menu-footer__item {
          @include flex-three-columns;
        }
      }

      @include xl {
        @include flex-two-columns;
        flex-wrap: nowrap;

        > li.menu-footer__item {
          @include flex-three-columns;
        }
      }

    }
  }

  @media only screen and (min-width: 48em) {
    &.menu--footer {
      ul.menu-footer__list {
        li.menu-footer__item {
          flex: 0 0 33%;
        }
      }
    }
  }
}
