.navigation {
  z-index: 100;
  height: auto;

  @include sm {
    height: 100%;
    width: 100%;
  }

  &.menu--main {
    margin: 0;
    top: 70px;

    .menu {
      .menu-item {
        a {
          padding-right: 0;
        }
      }
    }
  }

  &.menu--footer {
    display: block;
    padding-bottom: 1em;
    margin-bottom: 1em;

    @include rwd(480) {
      display: flex;
    }

    .footer-contact-us {
      display: block;

      @include rwd(480) {
        display: list-item;
        flex: 0 0 50%;
        padding-right: 3em;
        list-style-type: none;
      }

      .footer-contact-us__title {
        display: block;

        strong {
          font-weight: $light;
          margin: 0 0 0.5em;

          &:after {
            @include pseudo-after-border(35%);
            padding-bottom: 0.25em;
          }
        }
      }

      .footer-contact-us__item {
        display: block;
        margin-bottom: 0.75em;

        i {
          display: inline;
        }

        p {
          display: inline;
          margin: 0.5em 0;
        }
      }
    }

    ul.menu-footer__list {
      text-align: center;

      @include xs {
        display: flex;
        flex-wrap: wrap;
        padding-top: 1em;
        border-top: 2px dotted;
      }

      @include rwd(480) {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
      }

      li.menu-footer__item {
        @include flex-one-column;

        @include xs {
          flex: 0 0 25%;
          margin-right: 1em;
        }

        a.menu-footer__link {
          display: block;

          @include xs {
            text-align: left;
          }
        }
      }

      > li.menu-footer__item {
        > a.menu-footer__link:after {
          @include pseudo-after-border(5%);
        }
      }

      @include sm {
        @include flex-two-columns;

        > li.menu-footer__item {
          @include flex-two-columns;
        }
      }

      @include md {
        @include flex-two-columns;
        flex-wrap: nowrap;

        > li.menu-footer__item {
          @include flex-three-columns;
        }
      }

      @include lg {
        @include flex-two-columns;
        flex-wrap: nowrap;

        > li.menu-footer__item {
          @include flex-three-columns;
        }
      }

      @include xl {
        @include flex-two-columns;
        flex-wrap: nowrap;

        > li.menu-footer__item {
          @include flex-three-columns;
        }
      }

    }
  }

  @media only screen and (min-width: 48em) {
    &.menu--footer {
      ul.menu-footer__list {
        li.menu-footer__item {
          flex: 0 0 33%;
        }
      }
    }
  }
}
