body {
  header {
    min-height: 9vh;
  }

  .container {
    padding: 0 1.15em;
  }

  .page {
    flex: auto;

    .main-content {
      margin: 2em 0 4em;

      @include xl {
        margin: $space 0;
      }
    }
  }

  .main {
    @include xl {
      min-height: 91vh;
    }

    .company-name {
      display: none;
    }

    .slogan {
      text-align: center;
      min-height: 15vh;
    }
  }

  section, aside {
    margin-top: 2em;

    @include xl {
      min-height: 100vh;
      // No space needed as the Javascript will handle it at fullscreen.
      margin-top: 0;
    }
  }
}
