body {
  height: 100%;

  header {
    position: fixed;
    height: 9vh;
    top: 0;
    width: 100%;
    z-index: 999;
  }

  .page {
    height: 100%;
    padding-top: 9vh;
  }

  .main {
    @include height-adjustment;

    .company-name {
      display: none;
    }

    .slogan {
      height: 34vh;
      text-align: center;

      h2 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-transform: uppercase;
        font-weight: $lightest;
      }
    }
  }

  // Container, section and aside preparations.
  .container {
    padding: 0 1.15em;
  }

  section, aside {
    @include height-adjustment;
    margin-top: 0; // No space needed as the Javascript will handle it.
  }
}
