.view-products { // Products page.
  .view-header {
    font-size: $page-title;
    text-align: center;
  }

  .view-data {
    display: block;

    @include lg {
      display: flex;
    }

    @include xl {
      display: flex;
    }

    .view-filters {
      margin-bottom: 2em;

      @include lg {
        flex: 0 0 14%;
        margin: 0;
      }

      .views-exposed-form {
        .bef-sortby {
          legend {
            margin-bottom: 0.5em;
          }

          .form-wrapper {
            margin-top: 0;

            span {
              text-transform: uppercase;
              font-weight: 600;
            }
          }

          .form-item-items-per-page {
            display: inline;
          }

          &:after {
            content: ' ';
            display: block;
            border-bottom: solid 1px $border;
          }
        }

        details {
          border: none;
          margin: 0;
          padding: 0;

          summary {
            text-transform: uppercase;
            font-weight: 600;
            padding: 1em 0;
            outline: none; // Removing the borders when pressing.
          }

          > .details-wrapper {
            padding: 0 1em 1em;

            .form-wrapper {
              margin: 0;
            }
          }

          .form-composite {
            > legend {
              display: none;
            }
          }

          &:after {
            content: ' ';
            display: block;
            border-bottom: solid 1px #D7D7D7;
          }
        }

        .form-actions {
          display: none;

          @include lg {
            display: block;
          }

          @include xl {
            display: block;
          }
        }
      }
    }

    .view-content {
      flex: 0 0 86%;

      .grd-list {
        .views-row {
          margin-bottom: 0;
          padding-bottom: 2em;

          @include lg {
            @include flex-three-columns;
          }

          @include xl {
            @include flex-three-columns;
          }

          .product__item {
            text-align: center;
          }

          .product__item--image {
            margin-bottom: 2em;

            @media only screen and (min-width: 64em) {
              min-height: 230px;
            }

            img {
              height: auto;
              width: 100%;
            }
          }

          .product__item--title {
            font-weight: $bold;
            font-size: 1.1em;
          }

          .product__item--body {
            margin: 0 2em;
          }

          .product__item--variation-price {
            font-weight: $lightest;
          }
        }
      }
    }
  }
}
