// Color preparation for the color scheme.
$primary: #111111;
$secondary: #222222;
$active: #f51167;
$background: #ffffff;
$header: #333333;
$footer: #444444;
$text: #000000;

body {
  background-color: $background;
}

.header-top, .footer {
  background: $primary;
}

.header-second {
  background-color: $background;
}

.cart-flyout {
  .cart-block--summary__count {
    background: $active;
  }
}

.header-right {
  .search-area {
    .fa-search {
      color: $header;
    }
  }

  ul.menu {
    li.menu-item {
      a {
        color: $header;

        &.is-active {
          color: $active;
        }
      }
    }
  }
}

.footer {
  .footer-top {
    ul.menu {
      li.menu-item {
        a {
          color: $footer;

          &.is-active {
            color: $active;
          }
        }
      }
    }
  }

  .footer-bottom {
    p {
      color: $footer;
    }
  }
}

p {
  color: $text;
}
