// Color preparation for the color scheme.
$primary: #111111;
$secondary: #222222;
$active: #f51167;
$background: #ffffff;
$view: #a92727;
$header: #333333;
$footer: #444444;
$text: #000000;

@mixin border-bottom-style {
  border-bottom: 1px solid $active;
}

// Page structure.
body {
  background-color: $background;
}

// Font-awesome icons.
.fa-home, .fa-phone, .fa-inbox, .fa-street-view {
  color: $active;
}

.header-top, .footer {
  background: $primary;
}

.header-second {
  background-color: $background;
}

.cart-flyout {
  .cart-block--summary__count {
    background: $active;
  }
}

.header-right {
  .search-area {
    .fa-search {
      color: $header;
    }
  }

  ul.menu {
    li.menu-item {
      a {
        color: $header;

        &.is-active {
          color: $active;
        }
      }
    }
  }
}

.view-products {
  .view-data {
    .view-filters {
      .views-exposed-form {
        details {
          summary {
            &::-webkit-details-marker {
              color: $active;
            }
          }
        }
      }
    }

    .view-content {
      background-color: $view;
    }
  }
}

.footer {
  .footer-top {
    ul.menu-footer__list {
      li.menu-footer__item {
        a.menu-footer__link {
          color: $footer;

          &.is-active {
            color: $active;
          }
        }

        & > a.menu-footer__link:after {
          @include border-bottom-style;
        }
      }
    }

    .footer-contact-us {
      .footer-contact-us__title {
        p {
          color: $footer;

          &:after {
            @include border-bottom-style;
          }
        }
      }

      .footer-contact-us__item {
        p {
          color: $footer;
        }
      }
    }
  }

  .footer-bottom {
    p {
      color: $footer;
    }
  }
}

p {
  color: $text;
}
