.block-views-blockproducts-highlighted {
  margin: 5em 0;

  h2 {
    font-size: 2em;
    text-align: center;
    margin: 1em 0;
  }

  div {
    .view-data {
      display: block;
      width: 100%;

      .view-content {
        display: block;
        flex: none;

        .views-row {
          flex: 0 0 33%;
          max-width: 33%;
          padding-right: 1em;

          .product__image {
            img {
              padding-bottom: 2em;
            }
          }

          .product__info {
            .product__item--body {
              margin: 0 3em;

              p {
                font-weight: $lighter;
              }
            }

            .product__item--variation-price {
              font-weight: $light;
            }
          }
        }
      }
    }
  }
}

.block--type-banner {
  margin-bottom: 5em;

  &.full-width {
    width: 100vw;
    margin-left: calc(-50vw + 50% - -7px);
  }

  .block__content--image {
    img {
      width: 100%;
    }
  }


  .block__content--details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
