.breadcrumb-wrap {
  margin: 0;

  .breadcrumb {
    background: none;
    margin: 0 0 2em;
    padding: 0;

    ol {
      list-style: none;
      display: inline-block;
      margin: 0;
      padding: 0;

      li {
        float: left;
        margin: 0;
        margin-right: 1em;
        padding: 0;
        display: list-item;
        list-style: none;

        .breadcrumb-home-icon {
          display: inline-block;
        }

        a, p {
          display: inline;
          text-decoration: none;
          position: relative;
          margin-left: 0.5em;
        }
      }
    }
  }
}
