.footer {
  .footer-bottom {
    .footer-bottom-wrap {
      .float-md-left {
        padding-right: 1em;
        float: left;
      }

      .float-md-right {
        padding-left: 1em;
        float: right;
      }
    }
  }
}
