.navigation {
  &.menu--footer {
    display: flex;

    ul.menu-footer__list {
      display: flex;
      flex: 0 0 75%;

      li.menu-footer__item {
        a.menu-footer__link {
          display: block;
          font-size: $menu-font-size;
        }
      }

      > li.menu-footer__item {
        > a.menu-footer__link:after {
          content: "";
          display: block;
          margin: 0;
          margin-bottom: 0.5em;
          width: 3%;
        }
      }
    }

    .footer-contact-us {
      display: list-item;
      flex: 0 0 25%;

      .footer-contact-us__title {
        display: block;
        font-size: $menu-font-size;
      }

      .footer-contact-us__item {
        display: block;
      }
    }
  }

  @media only screen and (min-width: 48em) {
    &.menu--footer {
      ul.menu-footer__list {
        li.menu-footer__item {
          flex: 0 0 33%;
        }
      }
    }
  }
}
