.path-product {
  .product__page {
    display: flex;
    margin-bottom: 4em;

    .product__image {
      flex: 0 0 60%;

      .product__item--image {
        .imagefield_slideshow-wrapper {
          border: none;

          .cycle-slideshow {
            padding: 0 1em;

            .cycle-pager {
              position: relative;
              text-align: center;
              margin: 0;
              padding: 0;

              span {
                font-size: 5em;
                margin-left: 0.25em;

                &:first-child {
                  margin-left: 0;
                }
              }
            }

            img {
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }

    .product__info {
      flex: 0 0 40%;
      text-align: center;
      margin: auto 0;

      .product__item {
        margin-bottom: 15px;
      }

      .product__item--title {
        font-size: 2em;
      }

      .product__item--body {
        font-weight: $lighter;
      }

      .product__item--variation-price {
        font-size: 1.15em;
      }

      .product__item--variations {
        .field__item {
          .form-wrapper {
            .form-type-select {
              display: inline;
              margin-right: 2em;

              label {
                display: inline;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
