.view-products { // Products page.
  .view-header {
    font-size: $page-title;
    text-align: center;
  }

  .view-data {
    display: flex;

    .view-filters {
      flex: 0 0 14%;
      margin: 0 2em 2em 0;

      .views-exposed-form {
        .bef-sortby {
          legend {
            margin-bottom: 0.5em;
          }

          .form-wrapper {
            margin-top: 0;
          }

          .form-item-items-per-page {
            display: inline;
          }

          &:after {
            content: ' ';
            display: block;
            // @TODO: create a color for this border.
            border-bottom: solid 1px #D7D7D7;
          }
        }

        details {
          border: none;
          margin: 0;
          padding: 0;

          summary {
            font-weight: $bold;
            padding: 1em 0;
            outline: none; // Removing the borders when pressing.
          }

          > .details-wrapper {
            padding: 0 1em 1em;

            .form-wrapper {
              margin: 0;
            }
          }

          .form-composite {
            > legend {
              display: none;
            }
          }

          &:after {
            content: ' ';
            display: block;
            border-bottom: solid 1px #D7D7D7;
          }
        }
      }
    }

    .view-content {
      flex: 0 0 86%;

      .views-row {
        .field--name-field-image {
          @media only screen and (min-width: 64em) {
            min-height: 230px;
          }
        }
      }
    }
  }
}
