.view-products { // Products page.
  margin-bottom: 4em;

  .view-header {
    font-size: $page-title;
    text-align: center;
  }

  .view-data {
    display: flex;

    .view-filters {
      flex: 0 0 14%;
      margin: 0;
      padding: 0 6em 0 0;

      .views-exposed-form {
        .bef-sortby {
          legend {
            margin-bottom: 0.5em;
          }

          .form-wrapper {
            margin-top: 0;

            span {
              text-transform: uppercase;
              font-weight: 600;
            }
          }

          .form-item-items-per-page {
            display: inline;
          }

          &:after {
            content: ' ';
            display: block;
            // @TODO: create a color for this border.
            border-bottom: solid 1px #D7D7D7;
          }
        }

        details {
          border: none;
          margin: 0;
          padding: 0;

          summary {
            text-transform: uppercase;
            font-weight: 600;
            padding: 1em 0;
            outline: none; // Removing the borders when pressing.
          }

          > .details-wrapper {
            padding: 0 1em 1em;

            .form-wrapper {
              margin: 0;
            }
          }

          .form-composite {
            > legend {
              display: none;
            }
          }

          &:after {
            content: ' ';
            display: block;
            border-bottom: solid 1px #D7D7D7;
          }
        }
      }
    }

    .view-content {
      flex: 0 0 86%;

      .grd-list {
        .views-row {
          margin-bottom: 0;
          padding-bottom: 2em;
          flex: 0 0 33%;
          max-width: 33%;

          .product__item {
            text-align: center;
          }

          .product__item--image {
            margin-bottom: 2em;

            @media only screen and (min-width: 64em) {
              min-height: 230px;
            }
          }

          .product__item--title {
            font-weight: $bold;
            font-size: 1.1em;
          }

          .product__item--body {
            margin: 0 2em;
          }

          .product__item--variation-price {
            font-weight: $lighter;
          }
        }
      }
    }
  }
}
